In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("ranks_iits.csv")
df1 = pd.read_csv("ranks_iiits.csv")
df2 = pd.read_csv("ranks_nits.csv")
df3 = pd.read_csv("ranks_gftis.csv")

In [8]:
df

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,9193,13624
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),16138,21674
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1907,2171
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3334,3334
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4094,4615
...,...,...,...,...,...,...,...
2798,Indian Institute of Technology Dharwad,"Mechanical Engineering (4 Years, Bachelor of T...",AI,OBC-NCL,Female-only (including Supernumerary),7459,8884
2799,Indian Institute of Technology Dharwad,"Mechanical Engineering (4 Years, Bachelor of T...",AI,SC,Gender-Neutral,1709,2379
2800,Indian Institute of Technology Dharwad,"Mechanical Engineering (4 Years, Bachelor of T...",AI,SC,Female-only (including Supernumerary),3122,3122
2801,Indian Institute of Technology Dharwad,"Mechanical Engineering (4 Years, Bachelor of T...",AI,ST,Gender-Neutral,1044,1095
2802,Indian Institute of Technology Dharwad,"Mechanical Engineering (4 Years, Bachelor of T...",AI,ST,Female-only (including Supernumerary),1389,1389

In [9]:
df = df.convert_dtypes()
df.dropna(inplace=True)
df = df[df["Closing Rank"].apply(lambda x: x.isnumeric())]
df = df[df["Opening Rank"].apply(lambda x: x.isnumeric())]
df['Closing Rank'] = df['Closing Rank'].astype(int)
df['Opening Rank']  = df['Opening Rank'].astype(int)

In [10]:
df

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,9193,13624
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),16138,21674
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1907,2171
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3334,3334
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4094,4615
...,...,...,...,...,...,...,...
2798,Indian Institute of Technology Dharwad,"Mechanical Engineering (4 Years, Bachelor of T...",AI,OBC-NCL,Female-only (including Supernumerary),7459,8884
2799,Indian Institute of Technology Dharwad,"Mechanical Engineering (4 Years, Bachelor of T...",AI,SC,Gender-Neutral,1709,2379
2800,Indian Institute of Technology Dharwad,"Mechanical Engineering (4 Years, Bachelor of T...",AI,SC,Female-only (including Supernumerary),3122,3122
2801,Indian Institute of Technology Dharwad,"Mechanical Engineering (4 Years, Bachelor of T...",AI,ST,Gender-Neutral,1044,1095
2802,Indian Institute of Technology Dharwad,"Mechanical Engineering (4 Years, Bachelor of T...",AI,ST,Female-only (including Supernumerary),1389,1389

In [11]:
df.dtypes

Institute                string
Academic Program Name    string
Quota                    string
Seat Type                string
Gender                   string
Opening Rank              int32
Closing Rank              int32
dtype: object

In [12]:
df1

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
0,Atal Bihari Vajpayee Indian Institute of Infor...,"Computer Science and Engineering (4 Years, Bac...",AI,OPEN,Gender-Neutral,5198,6763
1,Atal Bihari Vajpayee Indian Institute of Infor...,"Computer Science and Engineering (4 Years, Bac...",AI,OPEN,Female-only (including Supernumerary),9546,11773
2,Atal Bihari Vajpayee Indian Institute of Infor...,"Computer Science and Engineering (4 Years, Bac...",AI,OPEN (PwD),Gender-Neutral,347,347
3,Atal Bihari Vajpayee Indian Institute of Infor...,"Computer Science and Engineering (4 Years, Bac...",AI,EWS,Gender-Neutral,935,1093
4,Atal Bihari Vajpayee Indian Institute of Infor...,"Computer Science and Engineering (4 Years, Bac...",AI,EWS,Female-only (including Supernumerary),2065,2065
...,...,...,...,...,...,...,...
732,"Indian Institute of Information Technology, Va...","Computer Science and Engineering (4 Years, Bac...",AI,OBC-NCL,Female-only (including Supernumerary),13872,15348
733,"Indian Institute of Information Technology, Va...","Computer Science and Engineering (4 Years, Bac...",AI,SC,Gender-Neutral,4090,7785
734,"Indian Institute of Information Technology, Va...","Computer Science and Engineering (4 Years, Bac...",AI,SC,Female-only (including Supernumerary),7541,8587
735,"Indian Institute of Information Technology, Va...","Computer Science and Engineering (4 Years, Bac...",AI,ST,Gender-Neutral,2249,3223
736,"Indian Institute of Information Technology, Va...","Computer Science and Engineering (4 Years, Bac...",AI,ST,Female-only (including Supernumerary),2690,2690

In [15]:
df1 = df1.convert_dtypes()
df1.dropna(inplace=True)
 #df1 = df1[df1["Closing Rank"].apply(lambda x: x.isnumeric())]
# df1 = df1[df1["Opening Rank"].apply(lambda x: x.isnumeric())]
# df1['Closing Rank'] = df1['Closing Rank'].astype(int)
# df1['Opening Rank']  = df1['Opening Rank'].astype(int)

In [16]:
df1.dtypes

Institute                string
Academic Program Name    string
Quota                    string
Seat Type                string
Gender                   string
Opening Rank              Int64
Closing Rank              Int64
dtype: object

In [17]:
df1

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
0,Atal Bihari Vajpayee Indian Institute of Infor...,"Computer Science and Engineering (4 Years, Bac...",AI,OPEN,Gender-Neutral,5198,6763
1,Atal Bihari Vajpayee Indian Institute of Infor...,"Computer Science and Engineering (4 Years, Bac...",AI,OPEN,Female-only (including Supernumerary),9546,11773
2,Atal Bihari Vajpayee Indian Institute of Infor...,"Computer Science and Engineering (4 Years, Bac...",AI,OPEN (PwD),Gender-Neutral,347,347
3,Atal Bihari Vajpayee Indian Institute of Infor...,"Computer Science and Engineering (4 Years, Bac...",AI,EWS,Gender-Neutral,935,1093
4,Atal Bihari Vajpayee Indian Institute of Infor...,"Computer Science and Engineering (4 Years, Bac...",AI,EWS,Female-only (including Supernumerary),2065,2065
...,...,...,...,...,...,...,...
732,"Indian Institute of Information Technology, Va...","Computer Science and Engineering (4 Years, Bac...",AI,OBC-NCL,Female-only (including Supernumerary),13872,15348
733,"Indian Institute of Information Technology, Va...","Computer Science and Engineering (4 Years, Bac...",AI,SC,Gender-Neutral,4090,7785
734,"Indian Institute of Information Technology, Va...","Computer Science and Engineering (4 Years, Bac...",AI,SC,Female-only (including Supernumerary),7541,8587
735,"Indian Institute of Information Technology, Va...","Computer Science and Engineering (4 Years, Bac...",AI,ST,Gender-Neutral,2249,3223
736,"Indian Institute of Information Technology, Va...","Computer Science and Engineering (4 Years, Bac...",AI,ST,Female-only (including Supernumerary),2690,2690

In [18]:
df2

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
0,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN,Gender-Neutral,54131,111124
1,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN,Female-only (including Supernumerary),70992,99644
2,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",HS,EWS,Gender-Neutral,20356,21278
3,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",HS,EWS,Female-only (including Supernumerary),21613,21613
4,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",HS,OBC-NCL,Gender-Neutral,39843,73949
...,...,...,...,...,...,...,...
5391,Indian Institute of Engineering Science and Te...,"Mining Engineering (4 Years, Bachelor of Techn...",OS,OBC-NCL,Gender-Neutral,15712,16154
5392,Indian Institute of Engineering Science and Te...,"Mining Engineering (4 Years, Bachelor of Techn...",OS,OBC-NCL,Female-only (including Supernumerary),23197,23712
5393,Indian Institute of Engineering Science and Te...,"Mining Engineering (4 Years, Bachelor of Techn...",OS,SC,Gender-Neutral,7759,8500
5394,Indian Institute of Engineering Science and Te...,"Mining Engineering (4 Years, Bachelor of Techn...",OS,SC,Female-only (including Supernumerary),11165,11165
5395,Indian Institute of Engineering Science and Te...,"Mining Engineering (4 Years, Bachelor of Techn...",OS,ST,Gender-Neutral,2729,2823

In [20]:
df2 = df2.convert_dtypes()
df2.dropna(inplace=True)
# df2 = df2[df2["Closing Rank"].apply(lambda x: x.isnumeric())]
# df2 = df2[df2["Opening Rank"].apply(lambda x: x.isnumeric())]
# df2['Closing Rank'] = df2['Closing Rank'].astype(int)
# df2['Opening Rank']  = df2['Opening Rank'].astype(int)

In [21]:
df2.dtypes

Institute                string
Academic Program Name    string
Quota                    string
Seat Type                string
Gender                   string
Opening Rank              Int64
Closing Rank              Int64
dtype: object

In [22]:
df2

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
0,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN,Gender-Neutral,54131,111124
1,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN,Female-only (including Supernumerary),70992,99644
2,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",HS,EWS,Gender-Neutral,20356,21278
3,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",HS,EWS,Female-only (including Supernumerary),21613,21613
4,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",HS,OBC-NCL,Gender-Neutral,39843,73949
...,...,...,...,...,...,...,...
5391,Indian Institute of Engineering Science and Te...,"Mining Engineering (4 Years, Bachelor of Techn...",OS,OBC-NCL,Gender-Neutral,15712,16154
5392,Indian Institute of Engineering Science and Te...,"Mining Engineering (4 Years, Bachelor of Techn...",OS,OBC-NCL,Female-only (including Supernumerary),23197,23712
5393,Indian Institute of Engineering Science and Te...,"Mining Engineering (4 Years, Bachelor of Techn...",OS,SC,Gender-Neutral,7759,8500
5394,Indian Institute of Engineering Science and Te...,"Mining Engineering (4 Years, Bachelor of Techn...",OS,SC,Female-only (including Supernumerary),11165,11165
5395,Indian Institute of Engineering Science and Te...,"Mining Engineering (4 Years, Bachelor of Techn...",OS,ST,Gender-Neutral,2729,2823

In [23]:
df3

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
0,"Assam University, Silchar","Agricultural Engineering (4 Years, Bachelor of...",AI,OPEN,Gender-Neutral,58365,84713
1,"Assam University, Silchar","Agricultural Engineering (4 Years, Bachelor of...",AI,OPEN,Female-only (including Supernumerary),76804,77258
2,"Assam University, Silchar","Agricultural Engineering (4 Years, Bachelor of...",AI,EWS,Gender-Neutral,12621,13007
3,"Assam University, Silchar","Agricultural Engineering (4 Years, Bachelor of...",AI,OBC-NCL,Gender-Neutral,25613,27109
4,"Assam University, Silchar","Agricultural Engineering (4 Years, Bachelor of...",AI,OBC-NCL,Female-only (including Supernumerary),25407,25407
...,...,...,...,...,...,...,...
791,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,OPEN,Gender-Neutral,56910,76463
792,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,EWS,Gender-Neutral,11263,11413
793,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,OBC-NCL,Gender-Neutral,22569,24055
794,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,SC,Gender-Neutral,12164,12435
795,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,ST,Gender-Neutral,4925,5409

In [25]:
df3 = df3.convert_dtypes()
df3.dropna(inplace=True)
# df3 = df3[df3["Closing Rank"].apply(lambda x: x.isnumeric())]
# df3 = df3[df3["Opening Rank"].apply(lambda x: x.isnumeric())]
# df3['Closing Rank'] = df3['Closing Rank'].astype(int)
# df3['Opening Rank']  = df3['Opening Rank'].astype(int)

In [26]:
df3.dtypes

Institute                string
Academic Program Name    string
Quota                    string
Seat Type                string
Gender                   string
Opening Rank              Int64
Closing Rank              Int64
dtype: object

In [27]:
df3

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
0,"Assam University, Silchar","Agricultural Engineering (4 Years, Bachelor of...",AI,OPEN,Gender-Neutral,58365,84713
1,"Assam University, Silchar","Agricultural Engineering (4 Years, Bachelor of...",AI,OPEN,Female-only (including Supernumerary),76804,77258
2,"Assam University, Silchar","Agricultural Engineering (4 Years, Bachelor of...",AI,EWS,Gender-Neutral,12621,13007
3,"Assam University, Silchar","Agricultural Engineering (4 Years, Bachelor of...",AI,OBC-NCL,Gender-Neutral,25613,27109
4,"Assam University, Silchar","Agricultural Engineering (4 Years, Bachelor of...",AI,OBC-NCL,Female-only (including Supernumerary),25407,25407
...,...,...,...,...,...,...,...
791,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,OPEN,Gender-Neutral,56910,76463
792,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,EWS,Gender-Neutral,11263,11413
793,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,OBC-NCL,Gender-Neutral,22569,24055
794,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,SC,Gender-Neutral,12164,12435
795,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,ST,Gender-Neutral,4925,5409

In [31]:
dfMains = pd.concat([df1,df2,df3])

In [32]:
dfMains

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
0,Atal Bihari Vajpayee Indian Institute of Infor...,"Computer Science and Engineering (4 Years, Bac...",AI,OPEN,Gender-Neutral,5198,6763
1,Atal Bihari Vajpayee Indian Institute of Infor...,"Computer Science and Engineering (4 Years, Bac...",AI,OPEN,Female-only (including Supernumerary),9546,11773
2,Atal Bihari Vajpayee Indian Institute of Infor...,"Computer Science and Engineering (4 Years, Bac...",AI,OPEN (PwD),Gender-Neutral,347,347
3,Atal Bihari Vajpayee Indian Institute of Infor...,"Computer Science and Engineering (4 Years, Bac...",AI,EWS,Gender-Neutral,935,1093
4,Atal Bihari Vajpayee Indian Institute of Infor...,"Computer Science and Engineering (4 Years, Bac...",AI,EWS,Female-only (including Supernumerary),2065,2065
...,...,...,...,...,...,...,...
791,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,OPEN,Gender-Neutral,56910,76463
792,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,EWS,Gender-Neutral,11263,11413
793,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,OBC-NCL,Gender-Neutral,22569,24055
794,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,SC,Gender-Neutral,12164,12435
795,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,ST,Gender-Neutral,4925,5409

In [34]:
dfMains.to_csv('Mains.csv',index=False)

In [35]:
df

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,9193,13624
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),16138,21674
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1907,2171
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3334,3334
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4094,4615
...,...,...,...,...,...,...,...
2798,Indian Institute of Technology Dharwad,"Mechanical Engineering (4 Years, Bachelor of T...",AI,OBC-NCL,Female-only (including Supernumerary),7459,8884
2799,Indian Institute of Technology Dharwad,"Mechanical Engineering (4 Years, Bachelor of T...",AI,SC,Gender-Neutral,1709,2379
2800,Indian Institute of Technology Dharwad,"Mechanical Engineering (4 Years, Bachelor of T...",AI,SC,Female-only (including Supernumerary),3122,3122
2801,Indian Institute of Technology Dharwad,"Mechanical Engineering (4 Years, Bachelor of T...",AI,ST,Gender-Neutral,1044,1095
2802,Indian Institute of Technology Dharwad,"Mechanical Engineering (4 Years, Bachelor of T...",AI,ST,Female-only (including Supernumerary),1389,1389

In [37]:
df.to_csv("Adv.csv",index = False)